body {
    background-color: beige;
}

.numberbox {
    display: flex;
}

.one {
    background-color: red;
}

.two {
    background-color: blue;
}

.three {
    background-color: green;
}

.four {
    background-color: yellow;
}